<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-connection.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-resource.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/nx-doc-resource.html"></link>
<link rel="import" href="../../../bower_components/nuxeo-elements/popup-confirm.html"></link>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html"></link>
<link rel="import" href="../../../bower_components/paper-input/paper-input.html"></link>
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html"></link>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html"></link>
<link rel="import" href="../../../permissions/components/popup-permission/popup-permission.html"></link>

<dom-module id="document-permissions">
    <template>
        <style>
        .acl-table {
          display: table;
          border-collapse: collapse;
          width: 100%;
          line-height: 1.3em;
        }

        .acl-table-row {
          display: table-row;
        }

        .acl-table-headers {
          display: table-row;
        }

        .acl-table-row > div {
          display: table-cell;
          border: 1px solid #e7e7e7;
          padding: .6em .4em;
          color: #000;
        }

        .acl-table-headers > div {
          background-color: #f8f9fb;
          font-weight: bold;
        }
        </style>
        <nx-doc-resource id="doc" auto doc-id="{{docId}}" doc-path="{{docPath}}" response="{{doc}}"
            enrichers="extendedAcls, permissions, userVisiblePermissions"></nx-doc-resource>

        <div class="bubbleBox">
            <div class="bubbleHeader">
                <h3>Access rights defined explicitely on this folder</h3>
                <template is="dom-if" if="{{hasEverythingRight}}">
                    <popup-permission doc-id="{{doc.uid}}" user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                        on-acecreated="refresh"></popup-permission>
                </template>
            </div>
            <template is="dom-if" if="{{hasLocalAcls}}">
                <div>
                    <div class="acl-table">
                        <div class="acl-table-row acl-table-headers">
                            <div>Username</th>
                            <div>Creator</th>
                            <div>Permission</th>
                            <div>Duration</th>
                            <div>Policy name</th>
                            <div>Actions</th>
                        </div>
                        <template is="dom-repeat" items="{{localAcls}}" as="acl">
                            <template is="dom-repeat" items="{{acl.ace}}" as="ace">
                                <template is="dom-if" if="{{ace.granted}}">
                                    <div class="acl-table-row">
                                        <div><span>{{ace.username}}</span></div>
                                        <div><span>{{ace.creator}}</span></div>
                                        <div><span>{{ace.permission}}</span></div>
                                        <div><span>{{formatDuration(ace)}}</span></div>
                                        <div><span>{{acl.name}}</span></div>
                                        <div>
                                            <template is="dom-if" if="{{hasEverythingRight}}">
                                                <popup-permission doc-id="{{doc.uid}}" ace="{{ace}}" user-visible-permissions="{{doc.contextParameters.userVisiblePermissions}}"
                                                    on-aceupdated="refresh"></popup-permission>
                                                <paper-icon-button icon="delete" on-click="localRightsDel" raised="true"></paper-icon-button>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="{{!hasLocalAcls}}">
                <p class="emptyResult">There is no specific right defined here.</p>
            </template>
        </div>

        <template is="dom-if" if="{{hasInheritedAcls}}">
            <div class="bubbleBox">
                <div class="bubbleHeader">
                    <h3>Access rights coming from upper folders in the hierarchy</h3>
                    <paper-button raised="true" on-click="blockInheritance">Block inheritance</paper-button>
                </div>
                <div>
                    <div class="acl-table">
                        <div class="acl-table-row acl-table-headers">
                            <div>Username</div>
                            <div>Creator</div>
                            <div>Permission</div>
                            <div>Duration</div>
                        </div>
                        <template is="dom-repeat" items="{{inheritedAcls}}" as="acl">
                            <template is="dom-repeat" items="{{acl.ace}}" as="ace">
                                <div class="acl-table-row">
                                    <div><span>{{ace.username}}</span></div>
                                    <div><span>{{ace.creator}}</span></div>
                                    <div><span>{{ace.permission}}</span></div>
                                    <div><span>{{formatDuration(ace)}}</span></div>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
        </template>

        <template is="dom-if" if="{{!hasInheritedAcls}}">
            <div class="bubbleBox">
                <div class="bubbleHeader">
                    <h3>Access rights coming from upper folders in the hierarchy</h3>
                    <paper-button raised="true" on-click="unblockInheritance">Unblock inheritance</paper-button>
                </div>
                <div>
                    <p class="emptyResult">No rights are inherited from parent documents.</p>
                </div>
            </div>
        </template>

        <popup-confirm id="confirmation">
            <h2>Confirm ACE deletion?</h2>
        </popup-confirm>

        <nx-operation id="rmPermission" op="Document.RemovePermission" input="{{doc.uid}}" on-response="refresh"></nx-operation>
        <nx-operation id="blockOp" op="Document.BlockPermissionInheritance" input={{docId}}
            on-response="refresh"></nx-operation>
        <nx-operation id="unblockOp" op="Document.UnblockPermissionInheritance" input={{docId}}
            on-response="refresh"></nx-operation>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'document-permissions',

        properties: {
            doc: {
                type: Object,
                value: null
            },
            docId: {
                type: String,
                value: ''
            },
            docPath: {
                type: String,
                value: ''
            },
            hasEverythingRight: {
                type: Boolean,
                value: false,
                computed: 'computeEverythingRight(doc)'
            },
            hasLocalAcls: {
                type: Boolean,
                value: false,
                computed: 'computeHasLocalAcls(doc)'
            },
            hasInheritedAcls: {
                type: Boolean,
                value: false,
                computed: 'computeHasInheritedAcls(doc)'
            },
            localAcls: {
                type: Array,
                value: [],
                computed: 'computeLocalAcls(doc)'
            },
            inheritedAcls: {
                type: Array,
                value: [],
                computed: 'computeInheritedAcls(doc)'
            }
        },

        refresh: function() {
            this.$.doc.get();
        },

        formatDuration: function(ace) {
            var now = moment();
            var begin = ace.begin;
            var end = ace.end;
            var format = 'D MMM YYYY';

            if (begin !== null && end === null) {
                return (now.isAfter(begin) ? 'Since ' : 'From ') + moment(begin).format(format);
            } else if (begin === null && end !== null) {
                return 'Until ' + moment(end).format(format);
            } else if (begin !== null && end != null) {
                return (now.isAfter(begin) ? 'Since ' : 'From ') + moment(begin).format(format) + ' until ' + moment(end).format(format);
            } else {
                return '';
            }
        },

        localRightsDel: function(e, i) {
            var self = this;
            this.$.confirmation.toggle(function() {
                // Walk on data hosts in order to retrieve the 'item' property from the repeat loop item context
                var item = e.model.dataHost.dataHost.item;
                self.$.rmPermission.params = {
                    id: item.id
                };
                self.$.rmPermission.execute();
            });
        },

        get permissions() {
            return this.doc && this.doc.contextParameters && this.doc.contextParameters.permissions;
        },

        computeEverythingRight: function() {
            if (this.permissions) {
                return this.permissions.indexOf('Everything') !== -1;
            }
            return false;
        },

        get acls() {
            return this.doc && this.doc.contextParameters && this.doc.contextParameters.acls;
        },

        computeHasLocalAcls: function() {
            if (this.acls) {
                for (var i = 0; i < this.acls.length; i++) {
                    if (this.acls[i].name !== 'inherited' && this.acls.length >= 1) {
                        return true;
                    }
                }
            }
            return false;
        },

        computeHasInheritedAcls: function() {
            if (this.acls) {
                for (var i = 0; i < this.acls.length; i++) {
                    if (this.acls[i].name === 'inherited') {
                        return true;
                    }
                }
            }
            return false;
        },

        computeLocalAcls: function() {
            var localAcls = [];
            if (this.acls) {
                for (var i = 0; i < this.acls.length; i++) {
                    if (this.acls[i].name !== 'inherited') {
                        localAcls.push(this.acls[i]);
                    }
                }
            }
            return localAcls;
        },

        computeInheritedAcls: function() {
            if (this.acls) {
                for (var i = 0; i < this.acls.length; i++) {
                    if (this.acls[i].name === 'inherited') {
                        return [this.acls[i]];
                    }
                }
            }
            return [];
        },

        blockInheritance: function() {
            this.$.blockOp.execute();
        },

        unblockInheritance: function() {
            this.$.unblockOp.execute();
        }
    });
</script>
